#tootTextArea {
  display: flex;
  margin-top: 80px;
  width: 80vh;
  height: 20vh;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  background: linear-gradient(135deg, #1a2a44, #1a2a44, #273c5c);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #d0d0d0;
  overflow: hidden;
  padding-bottom: 40px;
  z-index: 5000;
}

#textWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}
